<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}" >
    </head>
    <style>
    </style>
    </head>
    <body>
        <div class="screen">
            <section class="section-1">
                <h3>失敗頁面</h3>
            </section>
            {% if message and name %}
                <section class="section-2">
                    <form action="/" method="GET">
                        <div>
                            <h3>帳號已經被註冊</h3>
                        </div>
                        <button id="btn">回首頁</button>
                    </form>
                </section>
            {% else %}
                <section class="section-2">
                    <form action="/" method="GET">
                
                        <div>
                            <h3>帳號或密碼輸入錯誤</h3>
                        </div>
                        <button id="btn">回首頁</button>
                    </form>
                </section>
            {% endif %}

        </div>
    </body>
</html>