<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/member.css') }}">
    <title>Member</title>
    </head>
    </head>
    <body>
        <div class="screen">
            <header class="section-1">
                <h3>歡迎光臨，這是會員頁</h3>
            </header>

            <section class="section-2">
                <form action="/signout" method="GET">
                    <div>
                        <h3 id="name-h3">{{ name }}</h3>
                        <h3>，歡迎登入系統</h3>
                    </div>
                    <button id="btn">登出系統</button>
                </form>
            </section>

            <section class="section-2">
                <h3>查詢會員姓名</h3>
                <input type="text" name="username" id="search-input"> :
                <button id="search">查詢</button>
                <h3 id="search-h3"></h3>
            </section>

            <section class="section-2">
                <h3>更新我的姓名</h3>
                <input placeholder="輸入新的姓名" type="text" id="update-input"> :
                <input type="hidden" value="{{ name }}" id="update-hidden-input">
                <button type="submit" id="update">更新</button>
                <h3 id="update-h3"></h3>
            </section>
        </div>

    <script src="{{ url_for('static', filename='js/fetch_member.js') }}"></script>
    </body>
</html>